registry=https://registry.npmjs.org/
@minarvabiz:registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-concurrency=4
strict-peer-dependencies=false
auto-install-peers=true
ignore-scripts=false
public-hoist-pattern[]=*electron*
public-hoist-pattern[]=*electron-builder*
public-hoist-pattern[]=*app-builder*
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*7zip-bin*
shamefully-hoist=true
